<template name="changePassword">

    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="block-header">
            <h2>
      Change Password
      </h2>

        </section>

        <!-- Main content -->
        <div class="box-body">
            <div class="card">
                <div id="flashMsg">
                    {{> flashMessages}}
                </div>

                <div class="card-body card-padding">

                    <br>

                    <div class="row">

                        <form id="frmChangePassword" role="form">

                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                    <div class="fg-line">
                                      <input name="oldPassword" type="password" placeholder="Old Password"  class="form-control input-md validationRequired">
                                    </div>
                                </div>

                                <br>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                    <div class="fg-line">
                                      <input id="newChangePassword" name="newPassword" placeholder="New Password" type="password"  class="form-control input-md validationRequired">
                                    </div>
                                </div>
                                <br>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                    <div class="fg-line">
                                      <input name="retypeNewPassword" type="password" placeholder="Confirm Password"  euqalTo="#newChangePassword" class="form-control input-md validationEqualTo validationRequired">
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-primary" type="submit">Save</button>

                            </div>


                        </form>

                    </div>


                </div>

                <br>
            </div>
        </div>
        <!-- /.content -->
    </div>
    {{loadFormValidationMessage}} {{loadtextboxfloating}}
</template>
